<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
<title>Comparative Genomics</title>

</head>

<body>

<!-- hyperlinks-->
<div class = 'menu'>
    <a href='/'>Home</a>
    <a href="https://canvas.gatech.edu/">Tutorial</a>
    <a href="https://canvas.gatech.edu/">GitHub</a>
    <a href="https://canvas.gatech.edu/">Wiki</a>
    <a href="https://canvas.gatech.edu/">About Us</a>
</div>

<!-- heading-->
<div class = 'heading'>
    <h1>Comparative Genomics</h1>
</div>

<!-- main contents-->
<div class = 'workspace'>
<div class = 'user_info'>
    <h2>User Information</h2>
    <label>Email</label>
    <input type="text" id="comp_email"/></input><br>
    <label>Name</label>
    <input type="text" id="comp_name"/></input><br>
    <label>Job Name</label>
    <input type="text" id="comp_job"/></input>
</div>
<div class = 'tool_choice'>
    <h2>Tool Selection</h2>
    <input type="checkbox" name="comptool1" value="FAST-ANI" checked>
    <label for="comptool1"> FAST-ANI</label><br>
    <input type="checkbox" name="comptool2" value="StringMLST">
    <label for="comptool2"> StringMLST</label><br>
    <input type="checkbox" name="comptool3" value="kSNP">
    <label for="comptool3"> kSNP</label><br>
    <input type="checkbox" name="comptool4" value="BPGA">
    <label for="comptool4"> BPGA</label><br>
    <input type="checkbox" name="comptool5" value="Roary">
    <label for="comptool5"> Roary</label>
</div>

<div class = 'comp_input'>
<h2>Input Data</h2>
<p>Input reference and query files below.</p>
<div class = 'comp_query'>
    <label>Query Genome(s)</label>
    <input type="file" id="comp_query"/></input>
    <p>Select up to X files.</p>
    <p>Allowed file format: FASTA</p>
</div>
<div class = 'comp_reference'>
    <label>Reference Genome</label>
    <p>Select 1 file or run against default reference genome (?).</p>
    <p>Allowed file format: FASTA</p>
    <input type="file" id="comp_reference"/></input>
</div>


<br>
<br>
<button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i>Submit</button>
</div>
<div class = 'description'>

</div>
</div>

</body>
</html>
