<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
<title>Functional Annotation</title>

</head>

<body>

<!-- hyperlinks-->
<div class = 'menu'>
    <a href='/'>Home</a>
    <a href="https://canvas.gatech.edu/">Tutorial</a>
    <a href="https://canvas.gatech.edu/">GitHub</a>
    <a href="https://canvas.gatech.edu/">Wiki</a>
    <a href="https://canvas.gatech.edu/">About Us</a>
</div>

<!-- heading-->
<div class = 'heading'>
    <h1>Functional Annotation</h1>
</div>

<!-- main contents-->
<div class = 'workspace'>
    <div class = 'input'>
        <h2>Input Data</h2>
        <p>Allowed format: FASTA files</p>
        <label>Query Genome(s)</label><br>
        <input type="file" id="assem_query" multiple></input>
        <p>Select up to 50 files.</p>
    </div>
    
    <div class = 'job_info'>
        <h2>Annotation Options</h2>
        <div class = 'user_info'>
            <h2>User Information</h2>
            <label>Name:</label>
            <input type="text" id="assem_name"/></input><br>
            <label>Email:</label>
            <input type="text" id="assem_email"/></input><br>
            <label>Job Name:</label>
            <input type="text" id="assem_job"/></input>
        </div>
        <div class = 'tool_choice'>
            <h2>Assembly Tool</h2>
            <input type="checkbox" name="anntool1" value="CARD-rgi" checked>
            <label for="anntool1"> CARD-rgi</label><br>
            <input type="checkbox" name="anntool2" value="VDFB" checked>
            <label for="anntool2"> VDFB</label><br>
            <input type="checkbox" name="anntool3" value="eggNOG">
            <label for="anntool3"> eggNOG</label><br>
            <input type="checkbox" name="anntool4" value="Pilercr">
            <label for="anntool4"> Pilercr</label><br>
            <input type="checkbox" name="anntool5" value="SignalP">
            <label for="anntool5"> SignalP</label><br>
            <input type="checkbox" name="anntool6" value="HMMTOP">
            <label for="anntool6"> HMMTOP</label><br>
        </div>
    </div>
    
    <br>
    <br>
    <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i>Submit</button>
    <button type="reset" name="reset" class="btn btn-primary">Reset</button>
    
    
    <div class = 'description'>
    </div>
</div>

</body>
</html>
