<html>
<head>

<link rel="shortcut icon" href="{Favicon}"/>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<title>Functional Annotation</title>

</head>

<body>

<!-- hyperlinks-->
<div class = 'menu'>
    <p>
        <a href="https://canvas.gatech.edu/">Home</a>
        <a href="https://canvas.gatech.edu/">Tutorial</a>
        <a href="https://canvas.gatech.edu/">GitHub</a>
        <a href="https://canvas.gatech.edu/">Wiki</a>
        <a href="https://canvas.gatech.edu/">About Us</a>
    </p>
</div>

<div class = 'heading'>
    <h1>Functional Annotation</h1>
</div>

<p>Please input two files below. The required format needs to be ....</p>
<label>Input file 1</label>
<input type="file" id="input1" style="text-align: right"/></input>
<br>
<label>Input file 2</label>
<input type="file" id="input2" style="text-align: right"/></input>
<br>
<br>
<button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i>Submit</button>
</body>
</html>
