<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
<title>Genome Assembly</title>

</head>

<body>

<!-- hyperlinks-->
<div class = 'menu'>
    <a href='/'>Home</a>
    <a href="https://canvas.gatech.edu/">Tutorial</a>
    <a href="https://canvas.gatech.edu/">GitHub</a>
    <a href="https://canvas.gatech.edu/">Wiki</a>
    <a href="https://canvas.gatech.edu/">About Us</a>
</div>

<div class = 'heading'>
    <h1>Genome Assembly</h1>
</div>

<div class = 'workspace'>
    <div class = 'input'>
        <h2>Input Data</h2>
        <p>Input paired-end sequence data for assembly. Upload all files in FASTQ format. 
        Label the read 1 and read 2 files for each sample with the same sample ID, and label
        all read 1 files with '_1.fq' and all read 2 files with '_2.fq'.</p>
        <label>Isolate Genome(s)</label><br>
        <input type="file" id="assem_query" multiple></input>
        <p>Select up to 50 files.</p>
    </div>
    
    <div class = 'job_info'>
        <h2>Assembly Options</h2>
        <input type="checkbox" name="needs_trimming" value="True" checked>
        <label for="needs_trimming"> Perform trimming on these FASTQ files.</label><br>
        <div class = 'user_info'>
            <h2>User Information</h2>
            <label>Name:</label>
            <input type="text" id="assem_name"/></input><br>
            <label>Email:</label>
            <input type="text" id="assem_email"/></input><br>
            <label>Job Name:</label>
            <input type="text" id="assem_job"/></input>
        </div>
        <div class = 'tool_choice'>
            <h2>Assembly Tool</h2>
            <input type="checkbox" name="assemtool1" value="FAST-ANI" checked>
            <label for="assemtool1"> SPADES</label><br>
            <input type="checkbox" name="assemtool2" value="StringMLST">
            <label for="assemtool2"> SKESA</label><br>
            <input type="checkbox" name="assemtool3" value="kSNP">
            <label for="assemtool3"> abyss</label><br>
        </div>
    </div>
    
    <br>
    <br>
    <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i>Submit</button>
    <button type="reset" name="reset" class="btn btn-primary">Reset</button>
    
    
    <div class = 'description'>
    </div>
</div>

</body>
</html>
