<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="../static/style.css">
<link rel="shortcut icon" href="https://hosting.gatech.edu/sites/all/themes/gt_subtheme/favicon.ico" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap">
<title>Genome Assembly</title>

</head>

<body>

<!-- hyperlinks-->
<div class = 'menu'>
    <a href="https://canvas.gatech.edu/">Home</a>
    <a href="https://canvas.gatech.edu/">Tutorial</a>
    <a href="https://canvas.gatech.edu/">GitHub</a>
    <a href="https://canvas.gatech.edu/">Wiki</a>
    <a href="https://canvas.gatech.edu/">About Us</a>
</div>

<div class = 'heading'>
    <h1>Genome Assembly</h1>
</div>

<div class = 'workspace'>
<p>Please input two files below. The required format needs to be ....</p>
<label>Input file 1</label>
<input type="file" id="input1" style="text-align: right"/></input>
<br>
<label>Input file 2</label>
<input type="file" id="input2" style="text-align: right"/></input>
<br>
<br>
<button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-search"></i>Submit</button>
</div>

</body>
</html>
