<html>
        <head>
                <title>HomePage</title>
	
        </head>
        <body>
                <h1 align="center">Webserver Name</h1>
                <!hyperlinks>

		<div style="background-color:lightblue">
		<p style="text-align:right">
                <a href="https://canvas.gatech.edu/">Home</a>
		<a href="https://canvas.gatech.edu/">Tutorial</a>
		<a href="https://canvas.gatech.edu/">GitHub</a>
		<a href="https://canvas.gatech.edu/">Wiki</a>
		<a href="https://canvas.gatech.edu/">About Us</a>
                </p>
		</div>

                <!buttons>
		<p style="text-align:center">
                <a href="https://canvas.gatech.edu/"><button type="button">Genome Assembly</button></a>
		<a href="https://canvas.gatech.edu/"><button type="button">Gene Prediction/ Functional Annotation</button></a>
                <a href="https://canvas.gatech.edu/"><button type="button">Comparitive Genomics</button></a>
		</p>
        </body>
</html>
